@import "./font.css";

:root {
  --primary-color: #64182f; /* Dark Maroon */
  --secondary-color: #f9ed9d; /* Pale Gold */
  --accent-color: #d8a76b; /* Warm Beige */
  --background-color: #f9ed9d; /* Pale Gold */
  --dark-text-color: #2d1b17; /* Espresso Brown - Dark Text */
  --light-text-color: #f7f2e7; /* Ivory White */
  --border-color: #8d5a2d; /* Rich Brown */

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 6rem;
  --spacing-md: 12rem;
  --spacing-lg: 16rem; /*Used for section px*/

  /* Border */
  --border-radius: 4px;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Now Text", serif;
  font-weight: normal;
}

p,
span,
a,
button {
  font-family: "Montserrat", serif;
}

/* Reusable color pallette classes */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-light {
  background-color: var(--light-text-color);
}

.text-dark {
  color: var(--dark-text-color);
}

.text-light {
  color: var(--light-text-color);
}

/* Font sizes */

span,
span.fs-body-sm,
p.fs-body-sm {
  @apply text-xs;
}

p,
p.fs-body-m {
  @apply text-base;
}

p.fs-body-lg {
  @apply text-lg;
}

a,
a.button {
  @apply text-xs;
}

h1,
h1.header {
  @apply text-5xl;
}

h2,
h2.header {
  @apply text-3xl;
}

.text-label {
  @apply text-sm text-gray-700 font-bold;
}

.text-input {
  @apply border rounded w-full py-1 px-2 font-normal;
}

.text-muted {
  @apply font-normal;
}
/* Reusable spacing */
.section-pd-x {
  @apply px-[var(--spacing-sm)] md:px-[var(--spacing-md)] lg:px-[var(--spacing-lg)];
}
